/* =========================
   HERO SECTION
========================= */

.destinations-hero {
  height: 65vh;

  background:
    linear-gradient(
      rgba(0,0,0,0.45),
      rgba(0,0,0,0.45)
    ),
    url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?auto=format&fit=crop&w=2000&q=80");

  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.hero-content {
  max-width: 850px;
}

.hero-content span {
  color: rgba(255,255,255,0.8);
  letter-spacing: 3px;
}

.hero-content h1 {
  color: white;
  font-size: 4rem;
  margin: 20px 0;
}

.hero-content p {
  color: rgba(255,255,255,0.9);
  line-height: 1.8;
  font-size: 1.1rem;
}

/* =========================
   STATS
========================= */

.destination-stats {
  width: 72vw;

  margin: 80px auto 100px;

  background: white;

  border-radius: 24px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding: 40px;

  box-shadow: 0 20px 60px rgba(0,0,0,0.08);

  transition: all 0.4s ease;

  position: relative;
}
.destination-stats:hover {
  transform: translateY(-12px) scale(1.02);

  box-shadow:
    0 35px 90px rgba(0,0,0,0.18);
}
.stat-box {
  text-align: center;

  padding: 20px;

  border-radius: 18px;

  transition: all 0.3s ease;

  cursor: pointer;
}
.stat-box:hover h2 {
  color: #3b82f6;
  transform: scale(1.1);
  transition: 0.3s ease;
}

.stat-box h2 {
  transition: 0.3s ease;
}
/* =========================
   TITLE
========================= */

.destination-header {
  text-align: center;
  margin-bottom: 60px;
}

.destination-header span {
  color: #0d6efd;
  letter-spacing: 2px;
  font-weight: 600;
}

.destination-header h2 {
  margin-top: 10px;
  font-size: 3rem;
}

.destination-header p {
  color: #777;
  margin-top: 10px;
}

/* =========================
   CTA
========================= */

.destination-cta {
  width: 72vw;

  margin: 120px auto;

  padding: 80px;

  border-radius: 30px;

  text-align: center;

  background:
    linear-gradient(
      135deg,
      #0d6efd,
      #3b82f6
    );

  color: white;
}

.destination-cta h2 {
  font-size: 2.8rem;
  margin-bottom: 20px;
}

.destination-cta p {
  margin-bottom: 30px;
}

.destination-cta button {
  background: white;
  color: #111;

  border: none;

  padding: 15px 35px;

  border-radius: 12px;

  cursor: pointer;
}

/* =========================
   MOBILE
========================= */

@media(max-width:900px){

  .hero-content h1{
    font-size:2.5rem;
  }

  .destination-stats{
    width:90%;
    grid-template-columns:1fr 1fr;
    gap:20px;
  }

  .destination-cta{
    width:90%;
    padding:50px 25px;
  }

}


